<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Welcome in your bucket list</h1>

<h2>Make a wish and breathe !</h2>

<ul>
    <li>Visit Rome</li>
    <li>Go to Japan</li>
    <li>Learn to speak french</li>
</ul>

</body>
</html>
