<header>
    <h1>
        <a href="{{ path('main_home') }}">
            <img src="{{ asset('img/bucketlist_logo.webp') }}" alt="Bucket List | Home">
        </a>
    </h1>
    {% include 'bodyStructure/menu/nav.html.twig' %}
</header>