{% extends 'base.html.twig' %}

{% block body %}

    <h2>Update a wish !</h2>

    {{ form_start(wishForm) }}

    {{ form_widget(wishForm) }}

    <button class="btnSubmitLogIn">Update</button>

    {{ form_end(wishForm) }}

{% endblock %}

{% block title %}

{% endblock %}

