<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ asset('img/bucket_favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <title>{% block title %}Bucket list{% endblock %}</title>
    </head>
    <body>

    <div class="container">
        {% include 'bodyStructure/header/header.html.twig' %}

        <main>
            {# Lecture du message flash d'ajout de la série #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}Body par défaut{% endblock %}
        </main>

        {% include 'bodyStructure/footer/footer.html.twig' %}

    </div>
    </body>
</html>
